<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rust Url Shortener</title>
</head>
<body>

    <h1>Rust URL Shortener</h1>

    <form method="post">
        <label>Long URL:</label>
        <input type="text" name="long-url" value="" placeholder="Enter a long URL to shorten."/>
        <button>Create</button>
    </form>

</body>
</html>